div.tree-panel {
    position: absolute;
    z-index: 9000;
    background-color: white;
    border: 1px solid gray;
    border-image: initial;
    display: none;
    border-radius: 2px;
    box-shadow: 2px 2px 5px black;
    -webkit-box-shadow: 2px 2px 5px black;
    -moz-box-shadow: 2px 2px 5px black;
    -moz-user-select: none;
}

div.tree-panel {
    position: absolute;
    z-index: 9000;
    background-color: white;
    border: 1px solid gray;
    border-image: initial;
    display: none;
    border-radius: 2px;
    box-shadow: 2px 2px 5px black;
    -webkit-box-shadow: 2px 2px 5px black;
    -moz-box-shadow: 2px 2px 5px black;
    -moz-user-select: none;
}

div.tree-children {
    margin: -26px 0px 0px 0px;
}

div.tree-panel ul {
    line-height: 20px;
}

div.tree-panel ul li {
    cursor: pointer;
    padding: 3px 28px 3px 28px;
    border-bottom: 1px solid #E6E6E6;
    font-size: 11px;
}

div.tree-panel ul li:hover {
    background-color: #e6e6e6;
}

input.tree-action {
    cursor: pointer;
    background-color: white;
}

div.tree-panel ul li.has-children {
    background-image: url(../img/right-arrow.png);
    background-repeat: no-repeat;
    background-position-x: 9px;
    background-position-y: 12px;
}

div.tree-panel ul li.waiting {
    background-image: url(../img/waiting.gif);
    background-repeat: no-repeat;
    background-position-x: 7px;
    background-position-y: 8px;
    width: 65px;
}

ul.joypoketsImgTip {
    padding-top: 16px;
    background-image: url(../img/tip.png);
    background-repeat: no-repeat;
    border: 2px solid rgb(160, 160, 160);
    background-color: ghostWhite;
    position: absolute;
    z-index: 99999;
    clip: rect(auto, auto, auto, auto);
    display: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

form input.combo-text,input.combo-text {
    height: 27px; 
    line-height : 27px;
/*     font-size: 14px; */
    padding: 0 0px 0 8px;
    line-height: 27px;
}

.combo-panel {
    /*background: #fff;
    overflow: auto;
    border: 1px solid #999;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;*/
}

.combobox-item {
    cursor: pointer;
    padding: 4px 6px;
    font-size: 12px;
    background: #f5f5f5;
    color: #333;
    margin-top: 2px;
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.combobox-item-hover,.combobox-item-selected {
    background: #00a2c9;
    color: #fff;
    border-top: none;
    border-bottom: none;
    font-weight: lighter;
}

.jp_dlg_window {
    border: none;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 1px 5px 30px 1px black;
    -webkit-box-shadow: 1px 5px 30px 1px black;
    box-shadow: 1px 5px 30px 1px black;
}

.jp_dlg_buttons {
    border-top: 1px solid #D6D6D6;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.jp_dlg_buttons input {
	margin-right: 5px;
}
.jp_dlg_overlayBG {
    background-color: #000;
    filter: alpha(opacity=55);
    -moz-opacity: 0.55;
    opacity: 0.55;
}

.jp_dlg_title {
    padding: 13px 10px 0px 15px;
    float: left;
    margin-left: 20px;
    -moz-user-select: none;
    color: #000;
    font-size: 18px;
    line-height: 30px;
    font-family: Georgia;
}

.combo-text-disable {
    background-color: #eee;
}

form input[type="text"].combo-text-disable:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

form input[type="text"].combo-text-disable {
    cursor: default;
}

form input[type="text"].combo-text-disable:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.jp_dlg_window {
    color: #333;
    color: #424242;
    text-align: left;
    color: #333;
}