#product_layout {
	margin-top: 10px;
	overflow: hidden;
}

#product_right {
	width: 530px;
	float: right;
}

#product_right h1 {
	color: #000;
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 20px 0;
}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	line-height: 0px;
}

#s_imglist {
	height: 70px;
	z-index: 1;
	padding: 0 0 0 20px;
}

.pdo-droll_layout {
	position: relative;
}

#s_imglist ul li {
	overflow: hidden;
	margin: 0 10px;
	padding: 0;
	width: 70px;
	height: 70px;
	text-align: center;
	float: left;
}

#s_imglist ul li a {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 1px;
	width: 64px;
	height: 64px;
	border: 2px solid #fff;
}

#s_imglist ul li {
	text-align: center;
}

.pdo-droll {
	overflow: hidden;
	position: absolute;
}

#s_imglist ul li img {
	max-width: 64px;
	max-height: 64px;
}

.pdo-droll_dirbutton {
	width: 100%;
	height: 0;
	z-index: 1;
	top: 40%;
}

#s_imglist ul li a:hover,#s_imglist ul li.pdo-droll_list_current a {
	border-color: #e3631e;
}

#s_imglist .pdo-droll_dirbutton {
	position: relative;
}

.pdo-droll_dirbutton,.pdo-droll_prev,.pdo-droll_next {
	position: absolute;
}

#s_imglist .pdo-droll_prev.pdo-droll_btn_locked {
	background: url('../img/product_bg.png?r=24573') no-repeat -109px -190px;
}

#s_imglist .pdo-droll_dirbutton a {
	width: 15px;
	height: 20px;
}

#s_imglist .pdo-droll_prev {
	background: url('../img/product_bg.png?r=24573') no-repeat -109px -239px;
	top: 0px;
	left: -18px;
}

.pdo-droll_next.pdo-droll_btn_locked,.pdo-droll_prev.pdo-droll_btn_locked
	{
	opacity: 0.6;
	filter: alpha(opacity =           60);
}

.pdo-droll_prev.pdo-droll_btn_locked {
	background: url('../img/product_bg.png?r=24573') no-repeat -110px -190px;
}

.pdo-droll_btn_locked {
	cursor: text;
}

.pdo-droll_prev,.pdo-droll_next {
	width: 10px;
	height: 20px;
	display: inline-block;
}

#s_imglist .pdo-droll_next.pdo-droll_btn_locked {
	background: url('../img/product_bg.png?r=24573') no-repeat -130px -190px;
}

#s_imglist .pdo-droll_next {
	right: -105px;;
	background: url('../img/product_bg.png?r=24573') no-repeat -130px -239px;
}

#imgbox {
	position: relative;
	width: 480px;
	height: 360px;
	text-align: center;
	padding: 1px;
	border: 1px solid #ccc;
}

#imgbox img.bigpic {
	max-width: 380px;
	max-height: 360px;
}

.small-remove-tool {
	display: none;
	width: 30px;
	height: 30px;
	cursor: pointer;
	opacity: 0.7;
	filter: alpha(opacity =             70);
	background: url('../img/fancy_close.png') no-repeat 0px 0px;
	overflow: hidden;
	position: absolute;
	top: -13px;
	right: -13px;
}

.small-remove-tool:hover {
	opacity: 1;
	filter: alpha(opacity =           100);
}

#image-viewer-dialog .r1 {
	-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
}

#image-viewer-dialog .r2 {
	-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	-o-transform: rotate(2deg);
}
