html {
    height: 100%;
}
* {
	margin:0; padding: 0; border:0;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font: normal 12px/18px Verdana, sans-serif;
    height: 100%;
}

.hidden {
    display: none;
}

#leftside {
    display: none;
}

#rightside {
    height: 100%;
    margin: 0px;
    width: 100%;
    border-top: solid 3px #4b6ea9;
}

#login-page {
    margin: auto;
    width: 100%;
    height: 80%;
    background: url(../img/bg_logo.png) repeat;
    overflow: hidden;
}

#login-page #login-box {
    width: 100%;
    margin: auto 0;
}

#login-page #login-box .panel-body {
	background-color: #fff;
    padding: 20px 30px 50px 30px;
    width: auto;
    height: auto;
    border-top-width: 0;
}

.panel {
    margin: 0 auto;
    display: block;
    width: 420px;
    box-shadow: 7px 7px 20px #e8e8e8;
    -webkit-box-shadow: 7px 7px 20px #e8e8e8;
    -moz-box-shadow: 7px 7px 20px #e8e8e8;
    border: solid 1px #d8d8d8;
}

.datagrid {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#login-panel form .n {
    clear: both;
    line-height: 36px;
    font-weight: bold;
    font-size: 12px
}

#login-panel form input[type="text"],input[type="password"] {
    /*height: 20px*/
}

#login-box .login-header {
    overflow: hidden;
    padding: 20px 0px 10px 0px;
    line-height: 20px;
    color: #00a2c9;
    font-weight: bold;
    font-size: 22px;
    /*position: relative;*/
    border-bottom: 1px solid #d8d8d8;
    background-color: #fff;
}

#login-box .login-text {
    overflow: hidden;
    padding: 10px 0px 0px 40px;
    line-height: 20px;
    color: #4B6EA9;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    text-align: left;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
}

#login-box .jump-text {
    overflow: hidden;
    padding: 40px;
    color: #4B6EA9;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    text-align: center;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
}

/*
    #login-panel form input[type="text"], input[type="password"]{ backgrond:#fff; height:20px; width:200px; clear:both;}
    #login-panel form input:focus{ border:solid 1px #1192f0;}
    #login-panel form input[type="submit"]{width:120px; height:24px; margin-top:30px;}
*/
.login-new-header {	
	width: 100%;
	height: 42px;
	background-color: #00a2c9;
}
.login-new-header img {
	padding-top: 6px;
	padding-left: 15px
}
#login-panel .username {
	background: url(../img/login_user.png) no-repeat;
	border: solid 1px #d8d8d8;
	border-radius: 0;
	padding: 0px 0 0px 45px;
	width: 240px;
	height: 36px !important;
}
#login-panel .password {
	background: url(../img/login_password.png) no-repeat;
	border: solid 1px #d8d8d8;
	border-radius: 0;
	padding: 0px 0px 0px 45px;
	width: 240px;
	height: 36px !important;
}
#login-panel .username:focus, #login-panel .password:focus {
	border: solid 1px #00a2c9;
	border-radius: 0px;
	box-shadow: none;
}
#login-panel .login-btn {
	width: 100%; 
	background: #ffa800; 
	font-size: 16px;
	color: #fff;
	border-radius: 0;
	border: none;
	font-weight: bold;
	padding: 10px 0;	
	margin-top: 15px;
}
#login-panel .login-btn:hover {
	background: #ff8a00;
	border: 0!important;
}
#login-panel td {
	padding: 7px 0;
}
#login-box .login-dog {
	position: absolute;
	bottom: -50px;
	right: -150px;
}
#login-box .panel {
	position: relative;
}

